.button {
  display: inline-block;
  padding: 6px 18px;
  border: 2px solid $accent-color;
  border-radius: 5rem;
  text-align: center;
  font-size: rem(12);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  background-color: transparent;
  color: $accent-color;
  outline: none;
  user-select: none;
  letter-spacing: 0.04em;
  transition: background-color 0.15s, color 0.15s;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: $accent-color;
}
