// Proxima Nova

@font-face {
  font-family: 'proxima_nova';
  src: url("fonts/proxima_nova_light-webfont.woff2") format("woff2"), url("fonts/proxima_nova_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url("fonts/proxima_nova_regular-webfont.woff2") format("woff2"), url("fonts/proxima_nova_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url("fonts/proxima_nova_semibold-webfont.woff2") format("woff2"), url("fonts/proxima_nova_semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url("fonts/proxima_nova_bold-webfont.woff2") format("woff2"), url("fonts/proxima_nova_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url("fonts/proxima_nova_black-webfont.woff2") format("woff2"), url("fonts/proxima_nova_black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


// Akrobat

@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Thin'), local('Akrobat-Thin'), url('fonts/Akrobatthin.woff2') format('woff2'), url('fonts/Akrobatthin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'), url('fonts/Akrobatextralight.woff2') format('woff2'), url('fonts/Akrobatextralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Light'), local('Akrobat-Light'), url('fonts/Akrobatlight.woff2') format('woff2'), url('fonts/Akrobatlight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat'), local('Akrobat-Regular'), url('fonts/Akrobat.woff2') format('woff2'), url('fonts/Akrobat.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'), url('fonts/Akrobatsemibold.woff2') format('woff2'), url('fonts/Akrobatsemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Bold'), local('Akrobat-Bold'), url('fonts/Akrobatbold.woff2') format('woff2'), url('fonts/Akrobatbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url('fonts/Akrobatextrabold.woff2') format('woff2'), url('fonts/Akrobatextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat Black'), local('Akrobat-Black'), url('fonts/Akrobatblack.woff2') format('woff2'), url('fonts/Akrobatblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


// bruskovayaplain

@font-face {
  font-family: 'bruskovayaplain';
  src: url('fonts/bruskovaya-plain.woff2') format('woff2'), url('fonts/bruskovaya-plain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
