html {
  font-size: $base-font-size;
  overflow-x: hidden;
}

@media (min-width: $media-laptop-l) {
  html {
    font-size: $base-font-size * 1.15;
  }
}

@media (min-width: $media-laptop-xl) {
  html {
    font-size: $base-font-size * 1.3;
  }
}

body {
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  font-family: 'proxima_nova', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  color: $base-color;
}

h1,
h2,
h3,
h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 27px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 21px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: $accent-color;
  outline: none;
}

p,
ul,
ol,
dl, {
  margin-top: 0;
}




ol {

}
