$base-color: #232020;
$accent-color: #f0d38f;

$success-color: #71dd5c;
$warning-color: yellow;
$danger-color: red;

$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$link-color: $accent-color;


$base-font-size: 16px;

$media-mobile: 480px;
$media-tablet: 768px;
$media-laptop: 1024px;
$media-laptop-l: 1440px;
$media-laptop-xl: 1920px;
