.section-contacts {
  padding-bottom: 65px;

  &--index {
    padding-top: 65px;
    background-color: $light-color;
  }
}

.section-contacts__list {
  @include clear-list();
}

.section-contacts__item {
  margin-bottom: 2rem;
}

.section-contacts__item-inner {
  position: relative;
  padding-top: 55px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 33px;
    height: 33px;
    background: url("images/svg-icons/pin.svg") no-repeat;
    background-size: contain;
  }

}

.section-contacts__place {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: rem(15);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-contacts__phone {
  margin-bottom: 21px;
  display: block;
  text-decoration: none;
  font-size: rem(14);
  color: currentColor;
}

@media (min-width: $media-mobile) {
  .section-contacts {

    &--index {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -38px;
        width: 1px;
        height: 76px;
        margin: auto;
        background-color: $accent-color;
      }
    }
  }

  .section-contacts__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-contacts__item {
    margin-bottom: 0;
    width: percentage(1/3);
  }

  .section-contacts__item-inner {
    
  }

  .section-contacts__item:first-child .section-contacts__item-inner {
    float: left;
  }

  .section-contacts__item:last-child .section-contacts__item-inner {
    float: right;
  }
}
