.page {
  line-height: 1.4;
  font-size: rem(16);
}

.page__header {
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 70px;
  text-align: center;

  &::after {
    content: "";
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -38px;
    width: 1px;
    height: 76px;
    margin: auto;
    background-color: $accent-color;
    
  }
}

.page__tag {
  display: inline-block;
  padding: 0.2rem;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2px;
  color: #fff;
  background-color: $accent-color;
}

.page__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: rem(30);
  text-align: center;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: $accent-color;
  letter-spacing: 0.04em;
}

.page__content {

  .alignleft,
  .alignright,
  .aligncenter {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  img.alignleft,
  img.alignright,
  img.aligncenter {
    // border: 1em solid $accentColorLight;
  }

  .alignleft {
    float: left;
    margin-right: 1.5em;
  }
  
  .alignright {
    float: right;
    margin-left: 1.5em;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }


  // Unordered list
  ul:not([class]) {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style: none;
      padding-left: 1rem;
      position: relative;

      &::before {
        content: "";
        top: 0.5em;
        left: 0px;
        width: 5px;
        height: 5px;
        position: absolute;
        background-color: $accent-color;
        border-radius: 50%;
        background-size: contain;
      }
    }
  }

}
