.popup {
  width: calc(100% - #{($gutter / 2)});
  max-width: 500px;
  padding: ($gutter * 2);

  @include mq-min(768px) {
    padding: ($gutter * 3);
  }
}

.popup__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 1.65rem;
}
