.site-footer {
  padding-top: 60px;
  padding-bottom: 50px;
}

.site-footer__top {
  margin-bottom: 50px;
}

.site-footer__bottom {
  text-align: center;
}

.site-footer__logo {
  text-align: center;

  img {
    margin-bottom: 0.5em;
  }
}

.site-footer__logo-text {
  margin: 0;
}
